# ==========
# LM SERIVCE
# ==========

# Server
LM_SERVICE_GRPC_ADDR_CUTTED=[::1]:50051
LM_SERVICE_MAX_WORKERS=4

# Model
MODEL_NAME=../../models/omnicoder-9b-q4_k_m.gguf
DEVICE=cuda
TORCH_DTYPE=auto

# LLaMA.cpp params
LLAMA_N_GPU_LAYERS=-1
LLAMA_N_CTX=32764
LLAMA_N_BATCH=512
LLAMA_N_UBATCH=256
# LLAMA_N_THREADS=4
# LLAMA_N_THREADS_BATCH=
# LLAMA_CHAT_FORMAT=

# Memory & Performance
LLAMA_OFFLOAD_KQV=false
LLAMA_FLASH_ATTN=false
LLAMA_LOW_VRAM=false

# Quantization
# LLAMA_N_PARTS=
LLAMA_USE_MMAP=true
LLAMA_USE_MLOCK=false



# ===============
# LM ORCHESTRATOR
# ===============

# Server
LM_SERVICE_GRPC_ADDR=http://[::1]:50051
LM_ORCHESTRATOR_HTTP_PORT=8080

# Data Bases
REDIS_URL=redis://localhost:6379
REDIS_TTL_SECS=86400
MONGO_URI=mongodb://localhost:27017
MONGO_DB=nexus_mind
QDRANT_COLLECTION_NAME=knowledge_base
QDRANT_URL=http://localhost:6334
QDRANT_COLLECTION=nexus_docs

# Agent settings
MAX_ITERATIONS=10
LM_SERVICE_REQUEST_TIMEOUT=300
PROVIDER_TYPE=grpc
QDRANT_SEARCH_LIMIT=32
AGENT_TYPE=rag
HISTORY_MAX_MESSAGES=4
SUMMARY_INTERVAL=2
EMBEDDING_MODEL_PATH=./models/minilm/model.onnx
EMBEDDING_TOKENIZER_PATH=./models/minilm/tokenizer.json

# Logging
ONNX_LOG_LEVEL="warning"
RUST_LOG=ort=warn
LOG_JSON=true



# ======
# CLIENT
# ======

SERVER_URL=http://localhost:8080
HEALTH_POLL_SECS=10
DOCS_MAX_FILE_SIZE=10485760
CONVERSATIONS_FILE="${HOME}.config/nexus_mind/conversations.json"
