# Server
HOST=[::]
PORT=50051
MAX_WORKERS=4

# Model
MODEL_NAME=../../models/omnicoder-9b-q4_k_m.gguf
DEVICE=cuda
TORCH_DTYPE=auto

# LLaMA.cpp params
LLAMA_N_GPU_LAYERS=-1
LLAMA_N_CTX=32764
LLAMA_N_BATCH=512
LLAMA_N_UBATCH=256
# LLAMA_N_THREADS=4
# LLAMA_N_THREADS_BATCH=
# LLAMA_CHAT_FORMAT=

# Memory & Performance
LLAMA_OFFLOAD_KQV=false
LLAMA_FLASH_ATTN=false
LLAMA_LOW_VRAM=false

# Quantization
# LLAMA_N_PARTS=
LLAMA_USE_MMAP=true
LLAMA_USE_MLOCK=false
